.title {
    text-align: center;
    background-color: lawngreen;
    height: 50px;
    line-height: 50px;
    font-size: 24px;
}
.content {
    background-color: lightblue;
}
.content table {
    width: 100%;
    text-align: center;
    border-right: 1px solid orchid;
    border-bottom: 1px solid orchid;
    
}
.content td,th {
    border-top: 1px solid orchid;
    border-left: 1px solid orchid;
    height: 40px;
    line-height: 40px;
}